nav {
  background-color: rgb(0, 0, 0); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}
  
nav ul {
  list-style: none;
  display: flex;
}
  
nav li {
  margin: 0 10px;
}

nav darklight {
  margin-left: auto;
  padding-right: 70px;
}
  
nav a {
  text-decoration: none;
  color: white;
}

body {
  background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(163, 169, 185));
}

  

.titlecontainer {
  background-color: rgba(0,0,0, 0); 
  text-align: center;
  width: 100%;
  height: 110px;
}
  
.titlecontainer h1 {
  padding-left: 70px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  display: block;
  margin: 0 auto;
  font-size: 6vw;
  font-family: Geneva;
}

.maincontainer {
  background-color: rgba(0, 0, 0, 0); /* black color with 50% opacity */
  border-radius: 0px; /* round borders */
  width: 100%;
  height: 509px;
  z-index: -2;
  display: flex;
}

.marginleft, .marginright {
  background-color: rgb(0,0,0,0); 
  width: 5%;
  height: 500px;
  z-index: 1;
}

.leftcontainer {
  background-color: rgb(27, 27, 99); 
  width: 45%;
  height: 503px;
  display: inline-block;
  
}

.desccontainer {
  background-color: rgb(27, 27, 99); 
  width: 100%;
  height: 52%;
  z-index: 1;
}

.desccontainer h1 {
  padding-left: 40px;
  color: white;
}

.desccontainer p {
  padding-left: 40px;
  color: white;
  font-size: 1vw;
  padding-right: 40px;
  text-align: justify;
}

.newscontainer {
  background-color: rgb(12, 1, 53); 
  width: 100%;
  height: 42%;
  z-index: 1;
  display: block;
  padding-left: 40px;
}


.newscontainer a {
  position: absolute;
  padding-left:20px ;
  padding-top: 15px;
  padding-bottom: 10px;
  color: white;
  font-size: 1vw;
  text-decoration: underline;
}

.newscontainer h1 {
  padding-top: 10px;
  color: white;
}


.rightcontainer {
  background-color: rgb(0, 0, 0); 
  width: 45%;
  height: 509px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightcontainer img{
  padding-left: 0px;
  width: 100%;
  display: block;
  margin: 0 auto;
  height: 80%;
  z-index: 2;
}


.slidecontainer {
  width: 100%;
  max-width: 160px;
  height: 100px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.slidesandtext {
  width: 100%;
  height: 100px;
  display: flex;

}

.slidesandtext p {
  padding-right: 10px;
  color: white;
  font-size: 1vw;
  padding-left: 10px;
}


.newscontainer a {
  padding-left: 0px;
  padding-right:10px ;
  color: white;
  font-size: 1vw;
  text-decoration: underline;
}


.slide {
  width: 100%;
  max-width: 160px;
  height: 100px;
  position: absolute;
  transition: all 0.5s;
  
}

.slide img {
  width: 100%;
  max-width: 800px;
  height: 100px;
  position: absolute;
  transition: all 0.5s;
}

.btn {
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 0px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
}

.btn-next {
  top: 45%;
  right: 2%;
}

.projectcontainer{
  background-color: rgb(4, 0, 22);
  height: 500px;
  width: 90%;
  display: flex;
  z-index: -2;
}

.theproject{
  height: 500px;
  width:75%;
  z-index: 1;
  display: block;
  text-align: center;
}

.theproject h1{
  color: white;
  padding-top: 40px;
  z-index: 1;
  display: block;
  margin: 0 auto;
}

.theproject img {
  padding-top: 60px;
  height: 500px;
  width:75%;
  height: 60%;
}

.abouttheproject{
  background-color:rgb(0, 0, 0);
  height: 500px;
  width:25%;
  z-index: 1;
  display: block;
  text-align: center;
}

.abouttheproject h1 {
  padding-top: 100px;
  color: white;
  margin: 0 auto;
}

.abouttheproject a {
  padding-top: 60px;
  color: white;
  margin: 0 auto;
  text-decoration: underline;
}